.cell-right-align{
    display: inline-block; 
    width: 100%; 
    text-align: right;
}

.cell-left-align{
    display: inline-block; 
    width: 100%; 
    text-align: left;
}

.cell-center-align{
    display: inline-block; 
    width: 100%; 
    text-align: center;
}